﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="NoticeBoard._Default" %>

<%@ Register Src="~/Controls/cntNoticeBoard.ascx" TagPrefix="uc1" TagName="cntNoticeBoard" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:cntNoticeBoard runat="server" id="NoticeBoard" />
</asp:Content>
